<%= form_tag( :controller => :tickets, :action => :login) do %>

	<label>帳號<input name="username" type="text" /></label><br>
	<label>密碼<input name="password" type="text" /></label>
	
	<input  name="submit" type="submit" />
	
<% end %>
