   <article id="DarkRed" class="rolling-fix">
   <a id="dr-anchor" class="anchor">&nbsp;</a>
    <section class="vert">
       <div id="wrapper"> </div>
       <section class="limit">
        <h3>3年內幫中小企業貸款近2億，成功率90%以上
           全程<strong>免費服務</strong></h3>
        <img src="images/people01.png" id="changeArea1" data-img="0"/> </section>
       <!--limit--> 
     </section>
    <!--vert--> 
  </article>
   <article id="YellowGreen" class="wipe rolling-fix">
    <section class="vert">
       <section class="limit">
        <div class="clear">
           <div class="left"> <img id="changeArea2" src="images/yg-01.gif" data-img="0"> </div>
           <!--left-->
           <div class="right">
            <h3>中小企業老闆，借錢的痛苦，我們很清楚：</h3>
            <ul>
               <li>企業成長的關鍵時刻，銀行卻拒絕貸款，四處碰壁</li>
               <li>擔保品不足，找不到保人，難道只能找地下錢莊？</li>
               <li>代辦業者收取高額手續費，或巧立名目收費，您只能任人宰割</li>
               <li>時間緊迫，很怕貸不下來，也很怕利率太高增加企業成本</li>
               <p>中小企業在遇到資金緊張時，最怕就是病急亂投醫，借東牆補西牆，甚至逼不得已透過民間借貸、高利貸來周轉，事實上，合法貸款的管道很多，但這是很專業的金融知識，因此誠摯建議您不要獨自摸索，只要找對專家，就能快速為您找到最適合的資金管道，<strong>遠東貸款授信團隊</strong>提供免費諮詢和到府評估 <br>
                <span>歡迎打免付費電話 <b>0800-018-555</b>，我們將竭誠為您服務。</span> </p>
             </ul>
          </div>
           <!--right--> 
         </div>
        <!--clear--> 
      </section>
       <!--limit--> </section>
    <!--vert--> 
    
  </article>
   <article id="LightSkyBlue" class="wipe rolling-fix"> 
   <a id="lsb-anchor" class="anchor">&nbsp;</a>
    <section class="vert">
       <section class="limit">
        <div class="clear">
           <div class="left"><img src="images/lsb-01.jpg"></div>
           <!--left-->
           <div class="right">
            <h3>遠東貸款授信團隊—您創業路上的好幫手</h3>
            <ul>
               <li>由銀行授信副理、高階主管組成，正派、合法，非民間代辦業者</li>
               <li>2011~2013年融資貸放金額近2億元</li>
               <li>熟悉貸款多元管道，評估準確，過件成功率高達90%以上</li>
               <li>平均7個工作天過件成功，幫企業快速、簡便渡過短期困難</li>
             </ul>
          </div>
           <!--right--> 
         </div>
        <!--clear-->
        <div class="down"> <img src="images/lsb-03.png" id="dcr-01" class="dcr"> <img src="images/lsb-02.png" id="dcr-02" class="dcr"> <img src="images/lsb-04.png" id="dcr-03" class="dcr">
           <h4>信用紀錄不良有法可解</h4>
           <p>　　O盛金屬的王老闆過去信用卡曾經強停清償，銀行無法往來，逼不得已只好拿分期中的車子向當鋪抵押借款，無車可開很不方便，10天為一期的利息更高得嚇人，後來王老闆經由朋友介紹，找遠東貸款授信團隊做專業評估與建議，事情有了美好結局：
            不但和潤企業願意代償汽車貸款與當鋪借款，而且還有多餘現金給王老闆週轉，不用留車，利息減半，減輕負擔之餘，我們還建議王老闆申請台新銀行刷卡機，培養銀行往來紀錄，半年之後，銀行不僅願意發信用卡給他，且王老闆再也不用低聲下氣跟當鋪借錢，可以有條件跟銀行申請企業貸款了。</p>
         </div>
      </section>
       <!--limit--> </section>
    <!--vert--> 
  </article>
   <article id="Khaki" class="wipe rolling-fix"> 
   <a id="k-anchor" class="anchor">&nbsp;</a>
    <section class="vert">
       <section class="limit">
        <h3>全程不收費，請您安心、放心</h3>
        <p>借錢是一門學問，很多老闆自己找銀行卻不得其門而入，所以才有民間代辦業者生存的空間，但代辦業者往往趁人之危收取高額手續費，或巧立名目收取各種費用，老闆雖然借到錢卻要吃不少虧。<br>
           遠東團隊的成員都是有專業金融知識的資深銀行人士，我們免費服務，流程透明，善用專業和人脈幫中小企業解套救急、穩健成長，歡迎您隨時找我們諮詢評估。</p>
        <div class="chart"><img src="images/k-01.png" id="cht-01" class="cht"> <img src="images/k-02.png" id="cht-02" class="cht"> <img src="images/k-03.png" id="cht-03" class="cht"> <img src="images/k-04.png" id="cht-04" class="cht"> <img src="images/k-05.png" id="cht-05" class="cht"> <img src="images/k-06.png" id="cht-06" class="cht"></div>
        <div class="qa-link"><a href="#" id="call-qa-article">中小企業貸款常見問題</a>
        <div id="qa-article" class="qa">
        <h3>中小企業貸款常見問題</h3>
        <div class="text">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="qq">
               <th align="left" valign="top">Q：</th>
               <td align="left" valign="top">什麼是信保基金？</td>
             </tr>
            <tr class="aa">
               <th align="left" valign="top">A：</th>
               <td align="left" valign="top">信保基金（中小企業信用保證基金）是政府出資80%以上的公益財團法人，專為擔保品不 
                足的中小企業提供信用保證，使其順利融資。<br><br></td>
             </tr>
            <tr class="qq">
               <th align="left" valign="top">Q：</th>
               <td align="left" valign="top">貸款最容易卡在哪一關？</td>
             </tr>
            <tr class="aa">
               <th align="left" valign="top">A：</th>
               <td align="left" valign="top">擔保品不足、找不到保人，是中小企業貸款最常見的問題，遠東貸款授信團隊經由專業評
                估，能透過信保基金或合法融資公司（例如和潤企業）來協助您順利貸款。<br><br></td>
             </tr>
            <tr class="qq">
               <th align="left" valign="top">Q：</th>
               <td align="left" valign="top">聯徵（金融聯合信用徵信）次數過多，會影響企業貸款的核准率嗎？</td>
             </tr>
            <tr class="aa">
               <th align="left" valign="top">A：</th>
               <td align="left" valign="top">一般來說，新業務查詢超過4次，過件率就會降到50%，但還要看銀行查詢項目及企業屬性
                與優缺點，通常企業主不可能花時間一一研究各家銀行的規定，所以交由貸款授信專業人
                士來篩選與配對，是避免聯徵多查、影響核准率最快速簡便的途徑 。</td>
             </tr>
          </table>
         </div>
      </div><!--qa-->
        </div>
      </section>
       <!--limit--> </section>
    <!--vert--> 
  </article>
   <article id="PaleTurquoise" class="wipe rolling-fix"> 
   <a id="pt-anchor" class="anchor">&nbsp;</a> <img src="images/pt-04.png" id="dcr-04" class="dcr"> <img src="images/pt-05.png" id="dcr-05" class="dcr"> <img src="images/pt-06.png" id="dcr-06" class="dcr">
    <section class="vert">
       <section class="limit">
        <h3>適合中小企業的<br>
           融資專案</h3>
        <div id="pj-01" class="pj clear">
           <div class="left">
            <h4>融資專案1<span>中小企業融資專案</span></h4>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                <th width="25%" align="left" valign="top" >適合對象：</th>
                <td width="75%" align="left" valign="top">公司成立2年以上<br>
                   營收3000萬以上</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款額度：</th>
                <td align="left" valign="top">最高1000萬</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款利率：</th>
                <td align="left" valign="top">3%~8%</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款期間：</th>
                <td align="left" valign="top">1~3年</td>
              </tr>
             </table>
          </div>
           <div class="right"> <img src="images/pt-01.png" width="114" height="134">
            <h5>貸款不是問題，額度才是關鍵</h5>
            <p>O藝生技專門研發美容保養品，公司經營得有聲有色，唯獨醫學美容中心的業績始終墊底，於是李老闆決定以電視購物和網路行銷挽回逆勢，評估約需500萬資金，但問遍各家銀行，最多只能貸到350萬，總是差那麼一截。
               後來經由遠東貸款授信團隊專業評估與建議，終於獲得台灣中小企業銀行經理傾曩相助 ，願意本人授權拉高額度到500萬，資金到位後果然讓李老闆打了一場漂亮的行銷戰，像O藝生技這樣規模的公司，其實都是銀行樂於往來的對象，重點在於貸款額度能否滿足業主的需求，授信團隊的專業和人脈就很重要。</p>
          </div>
         </div>
        <div id="pj-02" class="pj clear">
           <div class="left">
            <h4>融資專案2<span>小型企業融資專案</span></h4>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                <th width="25%" align="left" valign="top" >適合對象：</th>
                <td width="75%" align="left" valign="top">公司成立1年以上<br>
                   營收3000萬以下</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款額度：</th>
                <td align="left" valign="top">最高600萬</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款利率：</th>
                <td align="left" valign="top">6%起</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款期間：</th>
                <td align="left" valign="top">18期~36期</td>
              </tr>
             </table>
          </div>
           <div class="right"> <img src="images/pt-01.png" width="114" height="134">
            <h5>無擔保品、創業初期，需聯合第三方機構</h5>
            <p>O豪物流是一家水泥運輸公司，資本額只有30萬，起家時，只有2台運輸車，某日王老闆接到大訂單，急需購買4輛運輸車，但一輛專業水泥運輸車約135萬，4輛就要540萬，由於王老闆沒有擔保品，財務報表也不理想，因此各銀行都拒絕申請，信保基金也不敢承保。
               後來王老闆上網找到遠東貸款授信團隊，經由我們專業評估與建議，最後是透過和潤企業與遠東銀行合作，共同解決了王老闆的資金困難，像O豪物流這種草創時期的企業，銀行多不願意獨立承貸，最適合分期付款型貸款，聯合第三方機構取得資金。</p>
          </div>
         </div>
        <div id="pj-03" class="pj clear">
           <div class="left">
            <h4>融資專案3<span>小型商店融資專案</span></h4>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                <th width="25%" align="left" valign="top" >適合對象：</th>
                <td width="75%" align="left" valign="top">公司3人以下<br>
                   刷單10萬元以上</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款額度：</th>
                <td align="left" valign="top">40萬~300萬</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款利率：</th>
                <td align="left" valign="top">9.38%~10.38%</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款期間：</th>
                <td align="left" valign="top">12期~15期</td>
              </tr>
             </table>
          </div>
           <div class="right"> <img src="images/pt-01.png" width="114" height="134">
            <h5>無財報、網路賣家，最適合刷卡機融資</h5>
            <p>OO手作坊是一間才成立半年的網拍工作室，隨著網拍業績蒸蒸日上，許老闆想在台北東區租一個實體店面，完成開店夢想，但因為沒有財務報表，不知如何向銀行申請貸款，經由遠東貸款授信團隊專業評估與建議，最後順利讓台新銀行核准撥款，個人工作室、網拍小賣家通常很適合刷卡機貸款專案。</p>
          </div>
         </div>
        <div id="pj-04" class="pj clear">
           <div class="left">
            <h4>融資專案4<span>擔保放款融資專案</span></h4>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                <th width="25%" align="left" valign="top" >適合對象：</th>
                <td width="75%" align="left" valign="top">公司負責人或負責人<br>
                   配偶具有不動產</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款額度：</th>
                <td align="left" valign="top">新台幣一億元以內</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款利率：</th>
                <td align="left" valign="top">1.38%~2.38%</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款期間：</th>
                <td align="left" valign="top">20年~30年</td>
              </tr>
             </table>
          </div>
           <div class="right"> <img src="images/pt-01.png" width="114" height="134">
            <h5>不動產擔保，銀行核貸意願高</h5>
            <p>O捷企業社是剛成立的小公司，申請青創協會的青年貸款卻未獲核准，因為公司正在草創時期，沒有任何財報紀錄，後來經由遠東貸款授信團隊專業評估與建議，請公司負責人的太太用名下房屋給台新銀行作二順位設定，即順利取得資金。</p>
          </div>
         </div>
        <div id="pj-05" class="pj clear">
           <div class="left">
            <h4>融資專案5<span>動產放款融資專案</span></h4>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                <th width="25%" align="left" valign="top" >適合對象：</th>
                <td width="75%" align="left" valign="top">公司負責人或負責人配偶<br>
                   具有汽車、貨車、營業車…等</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款額度：</th>
                <td align="left" valign="top">權威價×1.5</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款利率：</th>
                <td align="left" valign="top">6%~8%</td>
              </tr>
               <tr>
                <th align="left" valign="top">貸款期間：</th>
                <td align="left" valign="top">60期</td>
              </tr>
             </table>
          </div>
           <div class="right"> <img src="images/pt-01.png" width="114" height="134">
            <h5>早上申請，下午撥款，只需身分證</h5>
            <p>O立五金行剛成立不久，負責人去年有債務協商，目前正常繳款中，但銀行卻無法往來，負責人名下有一台10年汽車，曾經做為計程車使用，經由遠東貸款授信團隊專業評估與建議，請負責人將汽車設定給和潤企業，不但早上申請，下午就撥款，而且只需提供身分證，無其它財力證明就順利核准，實在是信用瑕疵者的福音。</p>
          </div>
         </div>
      </section>
       <!--limit--> </section>
    <!--vert--> 
  </article>
   <article id="letter" class="wipe rolling-fix"> 
   <a id="lt-anchor" class="anchor">&nbsp;</a>
    <section class="vert">
       <section class="limit"> <img src="images/lt-01.png" id="lt-01" class="lt"> <img src="images/lt-02.png" id="lt-02" class="lt"> <img src="images/lt-03.png" id="lt-03" class="lt"> <img src="images/lt-04.png" id="lt-04" class="lt"> <img src="images/lt-05.png" id="lt-05" class="lt"> <img src="images/lt-06.png" id="lt-06" class="lt"> </section>
       <!--limit--> 
     </section>
    <!--vert--> 
  </article>


<%= render 'form' %>
